body
{
    text-align: center;
    background: linear-gradient( #E1BEE7 0%,#90CAF9 100%);
	background-repeat:no-repeat;
    font-family: cursive;
}

img
{
  border-radius:50%;
  width:100px;
    transition: transform .2s;
    border: 3px solid;
    padding: 10px;
}
img .hover{
    transform: scale(0.9);
}


h1{
  text-shadow:2px 2px #F8BBD0;
  font-size:30px;
}


p{
  font-size:18px;
  color:firebrick;
  
    
}
h2{
  font-size:30px;
  color:#1A237E;
}
.line{
    height: 6px;
    background-color: black;
    width:70px;
    margin:8px auto;
}
#bio{
    padding:20px;
    font-size:18;
    text-align:center;
}
.menu{
    position: absolute;
    list-style: none;
    float: right;
    top: 10px;
    right: 30px;
    display: inline;
    cursor: pointer;
}
#welcome{
    margin-top:100px;
    z-index: 9;
}
ul{
    margin-left:10px;
    font-family: cursive;
    font-size:30px;
    color: firebrick;
}
li{
    color: firebrick;
    border-right: 3px solid;
    float:left;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline;
    background-color: burlywood;
}

#contact{
    border-right: none;
}
.li:hover{
    background-color: dodgerblue;
}
.article{
    font-size: 20px;
}
.article:hover{
    background-color: darkorange;
}
html{
    scroll-behavior: smooth;
}